<div class="page">
    <nav-menu></nav-menu>
    <goback></goback>
    <div class="col">
		<h3>Resources</h3>
		<p>These resources will help you grow in your faith, enjoy!</p>
		<br /><hr /><br />

		<h4 ng-if="audio.length > 0">Audiobooks</h4>
		<ul class="list-group resources-menu">
			<li class="list-group-item" ng-repeat="a in audio">
				<a href="{{a.url}}" target="_blank">
					<i ng-class="a.icon" class="text-left"></i>
					{{a.name}}
				</a>
			</li>
		</ul>
<br />
<hr />
<br />
		<h4 ng-if="books.length > 0">Books</h4>
		<ul class="list-group resources-menu">
			<li class="list-group-item" ng-repeat="b in books">
				<a href="{{b.url}}" target="_blank">
					<i ng-class="b.icon" class="text-left"></i>
					{{b.name}}
				</a>
			</li>
		</ul>

<br />
<hr />
<br />
		<h4 ng-if="videos.length > 0">Videos</h4>
		<ul class="list-group resources-menu">
			<li class="list-group-item" ng-repeat="v in videos">
				<a href="{{v.url}}" target="_blank">
					<i ng-class="v.icon" class="text-left"></i>
					{{v.name}}
				</a>
			</li>
		</ul>
	</div>
</div>