/* app css stylesheet */

.nav-link{
  padding: 10px 0px !important;
}

.page{margin: 0px; padding: 0px;}

.list-group-item i{
  position: absolute;
  margin-top: 5px;
  right: 10px;
}

a{
  color: #000000 !important;
}

.no-border{
  border: none;
}