/* app css stylesheet */
.hamburger{
  display: inline; 
  position: absolute; 
  right: 0px; 
  padding-right: 20px; 
  padding-top: 10px; 
  float: right; 
  text-align: right;
  height: 43px; 
  width: 50px; 
  z-index: 99999;
}
.hamburger a.menu-drop i{font-size: 18px !important;}
html{height: 0px;}
#wfc-menu{
  position: fixed;
  top: 0px;
  padding-left: 10px;
  width: 100%;
  z-index: 99999;
  background: #333;
}
.go-back{margin-top: 50px;}
ul.list-group li{background: #e0e0e0;}
.btn{cursor: pointer;}
.flag-icon{width: 30px; margin-top: -15px;}
.page-title{font-size: 24px !important; font-weight: bold;}
.home-menu{margin-top: 0px;}
h3{padding-top: 10px;}
h4{margin-top: 20px; font-size: 20px; font-weight: bold; margin-bottom: 10px; border-bottom: 1px solid #6c757d;}
.nav-link{ padding: 10px 10px !important; }
.ext-link{ margin-left: 10px; }
.page{margin-top: 46px; padding: 0px; height: auto; background: #e0e0e0;}
.page-white{margin-top: 0px; padding-top: 10px; min-height: 85vh; width: 96%; background: #FFFFFF; border-radius: 7px;}
.list-group-item i{ position: absolute; margin-top: 5px; right: 10px; }
.list-group-item:first-child { border-radius: 0px !important; }

.listitems{ margin-top: -30px !important; padding-top: 10px; padding-bottom: 10px;}
.listitem{ border-top: 0px solid #6c757d; margin-top: 0px; margin-bottom: 20px; padding-top: 0px; background-color: white; border-radius: 7px; margin-left: 10px; margin-right: 10px;}
.bottom-border{border-bottom: 0px solid #0094FF; width: 90%; margin: 0 5%; padding-top: 20px;}
.link{ color: #007bff !important; text-decoration: underline; }
.link-white{ color: #FFF !important; }
.no-border{ border: none; }
.iframe-loader {
  background:url(../assets/images/loader.gif) top center no-repeat;
}
.round7{border-radius: 7px; background: white; padding-top: 10px; margin: 0px 10px 20px 10px;}
.fullwidth{width: 100%;}
.bold{font-weight: bold;}
.nopad{padding-left: 0px !important; padding-right: 0px !important; }
.pad5{padding-left: 5px; padding-right: 5px; }
.v-top{vertical-align: top; padding-right: 3px;}
.hidden{display: none;}
.center{text-align: center;}
.link{text-decoration: none;}
.link :hover{text-decoration: underline;}
.clear{clear: both !important;}
p{line-height: 0.9em !important;}
hr{
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
.missions-photo{ border: 1px solid gray; }
.btn-primary{background-color: #0094FF !important;}
#settings{
  position: fixed; 
  top: 43px;
  z-index: 9999999;
  background: #333;
  color: #FFFFFF;
  margin: 0px 0px 0px 20px;
  height: 400px;
  width: 90%;
  max-height: 80%;
  border-radius: 0px 0px 7px 7px;
}

.gray{color: #696969;}
.gray-bg{background-color: #e0e0e0 !important;}
.card{margin-top: 10px;}

.wysiwyg-html p{line-height: 1.3em !important; font-size: 14px;}
.font14{font-size: 14px;}

/* Loading.io Ripple Spinner */
.lds-css{
  margin: 0 auto;
  text-align: center;
}
@keyframes lds-ripple {
  0% {
    top: 90px;
    left: 90px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 15px;
    left: 15px;
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 90px;
    left: 90px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 15px;
    left: 15px;
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}
.lds-ripple {
  position: relative;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 2.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 2.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: #0094ff;
}
.lds-ripple div:nth-child(2) {
  border-color: #689cc5;
  -webkit-animation-delay: -1.25s;
  animation-delay: -1.25s;
}
.lds-ripple {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}