/* app css stylesheet */

#wfc-menu{
  position: fixed;
  top: 0px;
  padding-left: 10px;
  width: 100%;
  z-index: 99999;
  background: #333;
}

.home-menu{margin-top: 25px;}

h3{padding-top: 10px;}

.nav-link{
  padding: 10px 10px !important;
}

.ext-link{
  margin-left: 10px;
}

.page{margin-top: 46px; padding: 0px; height: auto;}

.list-group-item i{
  position: absolute;
  margin-top: 5px;
  right: 10px;
}
.list-group-item:first-child {
border-radius: 0px !important;
}

a{
  color: #000000 !important;
}

.link{
  color: #007bff !important;
  text-decoration: underline;
}

.link-white{
  color: #FFF !important;
}

.no-border{
  border: none;
}

.iframe-loader {
  background:url(../assets/images/loader.gif) top center no-repeat;
}
.bold{font-weight: bold;}
.nopad{padding-left: 0px; padding-right: 0px; }
.pad5{padding-left: 5px; padding-right: 5px; }
.v-top{vertical-align: top; padding-right: 3px;}
.hidden{display: none;}
hr{
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
.missions-photo{
  border: 1px solid gray;
}

#settings{
  position: fixed; 
  top: 43px;
  z-index: 9999999;
  background: #333;
  color: #FFFFFF;
  margin: 0px 0px 0px 20px;
  font-size: 0.8em;
  height: 600px;
  max-height: 90%;
  border-radius: 0px 0px 7px 7px;
}