<!DOCTYPE html>
<html lang="en" ng-app="ripple" class="no-js">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ripple Missions</title>
  <meta name="description" content="">
  <meta name="theme-color" content="#333333">
  <link rel="manifest" href="manifest.json" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <meta name="mobile-web-app-capable" content="yes">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <link rel="stylesheet" href="assets/styles/flags32-iso-3166-1-alpha-2.css">
  <link rel="stylesheet" href="app.css">
  <script type="text/javascript">window.version = '04-27-19-1218';</script>
  <script src="env.js"></script>
  <script>
    // Detects if device is on iOS 
    const isIos = () => {
      const userAgent = window.navigator.userAgent.toLowerCase();
      return /iphone|ipad|ipod/.test( userAgent );
    }
    // Detects if device is in standalone mode
    const isInStandaloneMode = () => ('standalone' in window.navigator) && (window.navigator.standalone);

    // Checks if should display install popup notification:
    // if (isIos() && !isInStandaloneMode()) {
    //   this.setState({ showInstallMessage: true });
    // }
  </script>
</head>
<body id="body">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiCb9lPiSP6BejEACJ4Aql07tdegzGUo8&libraries=places"></script>
  <div class="container-fluid" style="margin: 0px; padding: 0px;">
      <div style="margin-top: 0px; width: 100%; background-color: #0094FF; position: relative;">
        <img src="assets/images/ripple-missions-icon.jpg" style="width: 42px" />&nbsp;&nbsp;
        <img src="assets/images/ripple-missions-words-white.png" style="padding-top: 5px; width: 45%" />
      </div>
    <!--
    <nav-menu></nav-menu>
    -->
    <div ng-view autoscroll style="margin-top: -50px;"></div>
  </div>
  <div id="settings" class="page" style="display: none" ng-controller="SettingsCtrl">
    <div class="col">
      <div class="page-title">Settings</div>
      <div class="col-sm-12 nopad">
        <b>Enable notifications?</b>
        <label class="switch float-right" style="margin-top: 0px;">
          <input type="checkbox" class="enable-notifications" />
          <span class="slider round"></span>
        </label>
        <!--<button class="btn btn-sm btn-primary enable-notifications">Yes, enable</button>-->
        <br /><p style="font-size: small">NOTE: You can disable notifications in device app settings.</p>
        <!--
        <b>Install App to Homescreen?</b>
        <button class="btn btn-sm btn-block btn-primary install-app">Install App</button>
        -->
      </div>
    </div>
  </div>
<!--HOME-->  
  <script type="text/ng-template" id="home.html">
    <div class="page container-fluid" style="padding-bottom: 20px;">
      <div class="row round7 clear" style="margin-top: 15px; padding-bottom: 10px; margin-bottom: 30px;">
        <div class="col">
          <input id="church-search" type="text" class="form-control" style="margin-top: 15px;" ng-model="churchQuery" ng-show="!confirmChurch && !displayChurchQuery" ng-blur="showChurchConfirm()" placeholder="Type Church Name" />
          <div ng-show="displayChurchQuery" class="clear" style="margin-top: -25px; margin-left: -5px; margin-right: -5px; padding-bottom: -10px;">
            <br />{{displayChurchQuery|churchname}}
            <div class="float-right" style="margin-top: -5px;">&nbsp;
              <small ng-if="displayChurchQuery && !confirmChurch">
                <a href="" ng-click="changeChurch()">Change Church</a>
              </small>
            </div>
          </div>
          <!--CHURCH CONFIRM-->
          <div class="center">
            <div class="pull-right" ng-show="confirmChurch" style="padding-bottom: 20px;">Is this your church? <br /><br />
              <button class="btn btn-primary btn-sm" ng-click="selectChurch()">Yes, let's go!</button>
              &nbsp;&nbsp;&nbsp;
              <button class="btn btn-warning btn-sm" ng-click="resetSearch()">No, start over...</button>
            </div>
          </div>
          <!--/CHURCH CONFIRM-->
        </div>
      </div>
      <!--LOADER-->
      <div id="loading" ng-if="loading" class="center row" style="margin-top: 30px;">
        <div class="center fullwidth bold" ng-if="loadingMessage">{{loadingMessage}}</div>
        <div class="lds-css ng-scope center"><div style="width:100%;height:100%" class="lds-ripple"><div></div><div></div></div></div>
      </div>
      <!--/LOADER-->
      <!--EMPTY LIST-->
      <div class="col" ng-if="missionsByChurch.length == 0 && displayChurchQuery && !confirmChurch && !loading">
        <h3>Oh no! No missionaries were found for your church. :(</h3>
        <h4>Steps you can take:</h4>
        <ol style="padding-inline-start: 15px">
          <li style="margin-left: 0px">
            You can ask your church to add missionaries here:
            <a href="http://ripplemissions.com/suggest" class="">ripplemissions.com/suggest</a>
          </li>
          <li style="margin-left: 0px">
            You can add missionaries yourself if you'd like:
            <a href="http://ripplemissions.com/suggest" class="">ripplemissions.com/suggest</a>
          </li>
          <li style="margin-left: 0px">
            You can email us at<br />
            <a href="mailto:pebble@ripplemissions.com">pebble@ripplemissions.com</a> with missionary or church info so we can add them.
          </li>
        </ol>
      </div>
      <!--START OVER BUTTON-->
      <div class="center" ng-show="missionsByChurch.length == 0 && displayChurchQuery && !confirmChurch"><button class="btn btn-primary btn-sm" ng-click="resetSearch()">Start over...</button></div>
      <!--MISSIONS LIST-->
      <div id="initHeightSpacer" ng-show="!missionsByChurch" style="height: 70vh;"></div>
      <div class="listitems">
        <div class="listitem" ng-if="missionsByChurch.length > 0" ng-repeat="mission in missionsByChurch track by mission.id">
          <div class="row">
            <div class="col-3 offset-md-1" style="margin-top: 15px; margin-left: 10px" ng-show="mission.acf.photo">
              <img ng-src="{{mission.acf.photo}}" width="110" />
            </div>
            <div class="col-3 offset-md-1" style="margin-top: 15px; margin-left: 10px" ng-show="!mission.acf.photo">
              <img src="https://ripplemissions.com/wp-content/uploads/2019/04/ripple-icon-192.jpg" width="110" />
            </div>
            <div class="col" style="margin-left: 20px;">
              <h3 style="font-size: 5.5vw">{{mission.acf.name|amp}}</h3>  
              <div style="margin-top: -5px">
                <div class="text-muted" style="padding-right: 10px;">
                  <div ng-if="mission.acf.category">{{mission.acf.category}} <span ng-if="mission.acf.country" style="margin-top: -5px;"> in&nbsp;{{mission.acf.country.name}}</span></div>
                </div>
                <div class="text-muted" style="padding-right: 10px;">
                  <div ng-if="mission.acf.org && !mission.acf.orglink">{{mission.acf.org}}</div>
                  <div ng-if="mission.acf.org && mission.acf.orglink"><a class="link" target="_blank" ng-href="{{mission.acf.orglink}}">{{mission.acf.org}}</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" ng-show="mission.acf.bio">
            <div class="col-1"></div>  
            <div class="col" style="margin-right: 20px;">
              <h4>Bio:</h4>
              <span class="wysiwyg-html" ng-bind-html="mission.acf.bio"></span>
            </div>
          </div>
          <!--CONTACT INFO-->
          <div class="row">
            <div class="col-1"></div>  
            <div class="col" style="margin-right: 20px;">
              <h4>Contact Info:</h4>
              <div ng-if="mission.acf.should_supporters_directly_email[0]=='yes'">
                <i class="far fa-fw fa-envelope pull-right" title="Email"></i>
                <a class="link" ng-href="mailto:{{mission.acf.email}}">{{mission.acf.email}}</a>
              </div>
              <div ng-if="mission.acf.should_supporters_directly_text[0]=='yes'">
                <i class="fas fa-fw fa-phone-square" title="Phone"></i>
                <a class="link" ng-href="mailto:{{mission.acf.phone}}">{{mission.acf.phone}}</a>
              </div>
              <div ng-if="mission.acf.websiteblog">
                <i class="fas fa-fw fa-globe" title="Website"></i>
                <a class="link" ng-href="{{mission.acf.websiteblog}}">{{mission.acf.websiteblog|nohttp}}</a>
              </div>
              <div ng-if="mission.acf.facebook_page">
                <i class="fab fa-fw fa-facebook-f" title="Facebook"></i>
                <a class="link" ng-href="https://facebook.com/{{mission.acf.facebook_page}}">{{mission.acf.facebook_page|nohttp}}</a>
              </div>
              <div ng-if="mission.acf.twitter_profile">
                <i class="fab fa-fw fa-twitter" title="Twitter"></i>
                <a class="link" ng-href="https://twitter.com/{{mission.acf.twitter_profile}}">@{{mission.acf.twitter_profile|nohttp}}</a>
              </div>
              <div ng-if="mission.acf.instagram">
                <i class="fab fa-fw fa-instagram" title="Instagram"></i>
                <a class="link" ng-href="https://instagram.com/{{mission.acf.instagram}}">@{{mission.acf.instagram|nohttp}}</a>
              </div>
              <div ng-if="mission.acf.youtube">
                <i class="fab fa-fw fa-youtube" title="YouTube"></i>
                <a class="link" ng-href="{{mission.acf.youtube}}">YouTube Channel</a>
              </div>
              <div ng-if="mission.acf.whatsapp">
                <i class="fab fa-fw fa-whatsapp" title="Whatsapp"></i>
                <a class="link" ng-href="mission.acf.whatsapp">{{mission.acf.whatsapp|nohttp}}</a>
              </div>
              <div ng-if="mission.acf.other_social">
                <strong>Other:</strong> 
                {{mission.acf.other_social}}
              </div>
            </div>
          </div>
          <!--/CONTACT INFO-->
          <!--DONATION INFO-->
          <div class="row" ng-show="mission.acf.paypal_email || mission.acf.donation_url || mission.acf.donation_instructions">
            <div class="col-1"></div>  
            <div class="col" style="margin-right: 20px;">
              <h4>Donation Info:</h4>
              <div ng-if="mission.acf.paypal_email">
                <span><ripple-donate-once email="mission.acf.paypal_email" /></span>
                <span><br /><ripple-donate-monthly email="mission.acf.paypal_email" /></span>
                <br /><p class="text-muted"><small>Ripple Missions does not see or store your info, we just make it easy to give. Donations are secured and encrypted through PayPal.</small></p>
              </div>
              <div ng-if="mission.acf.donation_instructions">
                <br /><strong>More Info:</strong><br /> 
                {{mission.acf.donation_instructions}}
              </div>
              <div ng-if="mission.acf.donation_url">
                <br /><a class="btn btn-primary" ng-href="{{mission.acf.donation_url}}">Donate Here</a><br /><br />
              </div>
              <div ng-if="mission.acf.wishlist" class="clear">
                <br /><strong>Wishlist Items:</strong><br /> 
                <li ng-repeat="line in (mission.acf.wishlist | newlines) track by $index" ng-if="line">
                    {{line}}
                </li>
                <p class="text-muted"><small>Items you send are a great encouragement to those serving overseas.</small></p>
              </div>
            </div>
            <br />
          </div>
          <!--/DONATION INFO-->
          <!--PRAYER REQUESTS-->
          <div class="row" ng-show="mission.acf.prayer_requests">
            <div class="col-1"></div>  
            <div class="col" style="margin-right: 20px;">
              <h4>Prayer Requests:</h4>
              <span ng-if="mission.acf.prayer_requests" class="wysiwyg-html" ng-bind-html="mission.acf.prayer_requests"></span>
            </div>
          </div>
          <!--/PRAYER REQUESTS-->
          <!--COUNTRY INFO-->
          <div class="row" ng-if="mission.acf.countryinfo">
            <div class="col-1"></div> 
            <div class="col" style="margin-right: 20px;">
              <h4>Country Info:</h4>
            </div>
          </div>
          <div class="row" style="font-size: 14px;">
            <div class="col-1"></div> 
            <div class="col-6" style="font-size: 24px; margin-top: 0px; margin-left: 5px;">{{mission.acf.country.name}}</div>
            <div class="f32 col-1" style="display: inline;">
              <div ng-if="mission.acf.country.slug.length == 2" class="flag {{mission.acf.country.slug}}"></div>
              <div ng-if="!mission.acf.country.slug.length == 2 && mission.acf.countryinfo.flag_code.length == 2" class="flag {{mission.acf.countryinfo.flag_code}}"></div>
            </div>
          </div>
          <!-- POPULATION -->
          <div class="row font14">
            <div class="col-1"></div>
            <div class="col-6" style="margin-left: 5px;"><strong>Population:</strong><br /></div>
            <div class="col">{{mission.acf.countryinfo.population | number:0}}<br /></div>
          </div>
          <!-- LANGUAGE -->
          <div class="row font14">
            <div class="col-1"></div>
            <div class="col-6" style="margin-left: 5px;"><strong>Language:</strong><br /></div>
            <div class="col">{{mission.acf.countryinfo.language}}<br /></div>
          </div>
          <!-- LITERACY -->
          <div class="row font14">
            <div class="col-1"></div>
            <div class="col-6" style="margin-left: 5px;"><strong>Literacy&nbsp;Rate:</strong><br /></div>
            <div class="col">{{mission.acf.countryinfo.literacy_rate | number:2}}%<br /></div>
          </div>
          <!-- POVERTY -->
          <div class="row font14">
            <div class="col-1"></div>
            <div class="col-6" style="margin-left: 5px;"><strong>Poverty < $2/day:</strong><br /></div>
            <div class="col">{{mission.acf.countryinfo.latestpovertylevel.poverty190percent | number:2}}% ({{mission.acf.countryinfo.latestpovertylevel.yearrecorded}})<br /></div>
          </div>
          <!-- HOMELESSNESS -->
          <div class="row font14">
            <div class="col-1"></div>
            <div class="col-6" style="margin-left: 5px;"><strong>Homeless/Night:</strong><br /></div>
            <div class="col">{{mission.acf.countryinfo.homelesspernight | number:0}} ({{mission.acf.countryinfo.HomelessPerNightPercent}})<br /></div>
          </div>
          <!-- RELIGION -->
          <div class="row font14">
            <div class="col-1"></div>
            <div class="col-6" style="margin-left: 5px;"><strong>Religion:</strong><br /></div>
            <div class="col">{{mission.acf.countryinfo.religion}}<br /></div>
          </div>
          <!-- EVANGELICAL -->
          <div class="row font14">
            <div class="col-1"></div>
            <div class="col-6" style="margin-left: 5px;"><strong>Evangelical:</strong><br /></div>
            <div class="col">{{mission.acf.countryinfo.evangelicalpercent | number:2}}%<br /></div>
          </div>
          <!-- UNREACHED GROUPS -->
          <div class="row font14">
            <div class="col-1"></div>
            <div class="col-6" style="margin-left: 5px;"><strong>Unreached Groups:</strong><br /></div>
            <div class="col">{{mission.acf.countryinfo.PeopleLR}}<br /></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col" style="font-size: 16px; margin-left: 5px;">
              <a class="link" style="line-height: 0.8em" target="_blank" href="https://www.cia.gov/library/publications/the-world-factbook/geos/{{mission.acf.country.slug}}.html">
                More Info <i class="fas fa-fw fa-external-link-alt"></i>
              </a>
            </div>
          </div>
          <br />
          <!--/COUNTRY INFO-->
          <!--<div class="bottom-border"></div>-->
        </div>
      </div>
      <!--/MISSIONS LIST-->
      <div class="row round7" ng-if="missionsByChurch.length > 0">
        <div class="col">
          <h4>Where in the world is Missy McMissions?</h4>
          Oops! Are we missing a missionary? Please add them here: <a href="http://ripplemissions.com/suggest" class="">ripplemissions.com/suggest</a> 
          or email us at <a href="mailto:pebble@ripplemissions.com">pebble@ripplemissions.com</a>. We'll add them for you!<br /><br />
        </div>
      </div>
      <div class="center">
        <small>
          <a href="/about">About</a>&nbsp;|&nbsp;<a href="/bugs">Problems?</a>&nbsp;|&nbsp;<a href="/contact">Contact Us</a>
          <br /><b>&copy; 2019 Ripple Missions</b> v1.1
        </small>
      </div>
  </script>
<!--/HOME-->
<!--ABOUT-->
  <script type="text/ng-template" id="about.html">
    <goback></goback>
    <div class="page-white container-fluid" style="padding-bottom: 20px;">
        <img ng-if="topBanner" width="100%" ng-src="assets/images/{{topBanner}}" />
        <div class="col about">
            <div class="page-title">About</div>
            <a title="Viewfromthepeak [CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:PikesPeakFromUCCS.jpg"><img width="100%" alt="PikesPeakFromUCCS" src="https://upload.wikimedia.org/wikipedia/commons/8/86/PikesPeakFromUCCS.jpg"></a>
            Ripple Missions is located in beautiful Colorado Springs, Colorado<br /><br />
            Ripple was founded in 2019 by Ryan Carter, a software engineer and web developer, who wanted to find a better way to connect churches to missions.<br /><br />  
            You can <a href="/contact">contact us here</a>.<br /><br />
            <div class="page-title"><small>Our Mission</small></div>
            <b>Firstly:</b>
            <br />Our goal is simple. 
            Connect churches and their people to the missions work going on overseas for support, encouragement, and engagement.<br /><br /> 
            We want missionary info on every Christian's mobile device if possible. 
            We believe this will allow greater visibility and awareness, leading to deeper engagement with missions work and the people doing it.<br /><br />
            <b>Secondly:</b>
              <br />Our secondary goal is to set an example of extreme accountability and generousity. For this reason we are focused on the task, and have decided that <u>we WILL NOT accept financial donations</u>. 
              We have enough. 
              f you'd like to contribute to the cause, please do, by giving to missionaries you know. 
              <br /><br />They are doing real work and need real support. 
              If you can't give, please pray. 
              If you feel you can't pray (effectively), send a message to encourage them. 
              Above all <i>do something</i> to promote those doing good work in the world. 
              God knows we need more of it.
            <br /><br />
            <div class="page-title"><small>Legal</small></div>
            Our privacy policy is located <a class="link" href="http://ripplemissions.com/privacy-policy">on our website</a>.<br /><br />
            Photos by <a href="https://pixabay.com" class="link">Pixabay</a> and <a href="https://unsplash.com" class="link">Unsplash</a> unless otherwise specified.<br /><br />
            Country information by <a href="https://joshuaproject.net/" target="_blank">The Joshua Project</a>, <a href="https://www.cia.gov/library/publications/the-world-factbook/" target="_blank">CIA World Factbook</a>, and <a href="https://en.wikipedia.org/wiki/List_of_countries_by_homeless_population" target="_blank">"List of countries by homeless population" Wikipedia page</a> (sources as referenced).<br /><br />
            
        </div>
    </div>
  </script>
<!--/ABOUT-->
<!--BUGS-->
  <script type="text/ng-template" id="bugs.html">
  <goback></goback>
    <div class="page-white container-fluid" style="padding-bottom: 20px;">
        <img ng-if="topBanner" width="100%" ng-src="assets/images/{{topBanner}}" />
        <div class="col">
            <div class="page-title">Bug Reports&nbsp;<i class="fas fa-bug"></i></div>
              <br />
              Find a bug or spot a typo in our app? Oh noez! Have a question or suggestion for the app?<br /><br />

              Please email me directly here: <a href="mailto:ryan@ripplemissions.com" class="link">ryan@ripplemissions.com</a>.
              
              We want to provide the best experience possible for you, so please let us know how we can improve.<br /><br />

              Thanks for your interest in making this app better!

              <br /><br />
              - Ryan Carter
              <br />Founder/Developer
              <br />Ripple Missions
              </p>
        </div>
    </div>
  </script>
<!--/BUGS-->
<!--CONTACT-->
  <script type="text/ng-template" id="contact.html">
  <goback></goback>
    <div class="page-white container-fluid" style="padding-bottom: 20px;">
        <img ng-if="topBanner" width="100%" ng-src="assets/images/{{topBanner}}" />
        <div class="col about">
            <div class="page-title">Contact Us</div>
            <b>Phone:</b> 719-401-5893<br />
            <p class="text-muted" style="line-height: 1.2em !important; font-size: 14px;">Please note: since I work during the day, I won't be able to answer the phone, but please feel free to leave a message or text. If needed, we can setup a time to chat live over email if you like.</small>
            <br /><br /><b>Email:</b> <a href="mailto:ryan@ripplemissions.com" target="_blank">ryan@ripplemissions.com</a><br />
        </div>
    </div>
  </script>
<!--/CONTACT-->
<!--SETTINGS-->
  <script type="text/ng-template" id="settings.html">
    <div class="page" ng-controller="SettingsCtrl">
        <goback></goback>
        <div class="col">
            <div class="page-title">Settings</div>
            <div class="page-title">Push Notifications</div>
            <p>
                If you would like to receive live updates, you can enable that here. Otherwise, you won't see the updates on your phone unless you click on the Announcements page. Should these updates be turned on?
            </p>
        </div>
    </div>
  </script>
<!--/SETTINGS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="jquery.fn.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="main.js"></script>
</body>
</html>