<!DOCTYPE html>
<html lang="en" ng-app="ripple" class="no-js">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ripple Missions</title>
  <meta name="description" content="">
  <meta name="theme-color" content="#333333">
  <link rel="manifest" href="manifest.json" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <meta name="mobile-web-app-capable" content="yes">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <link rel="stylesheet" href="app.css">
  <script type="text/javascript">window.version = '04-27-19-1218';</script>
  <script>
    // Detects if device is on iOS 
    const isIos = () => {
      const userAgent = window.navigator.userAgent.toLowerCase();
      return /iphone|ipad|ipod/.test( userAgent );
    }
    // Detects if device is in standalone mode
    const isInStandaloneMode = () => ('standalone' in window.navigator) && (window.navigator.standalone);

    // Checks if should display install popup notification:
    if (isIos() && !isInStandaloneMode()) {
      this.setState({ showInstallMessage: true });
    }
  </script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiCb9lPiSP6BejEACJ4Aql07tdegzGUo8&libraries=places"></script>
</head>
<body id="body">
  <div class="container-fluid" style="margin: 0px; padding: 0px;">
    <!--
    <nav-menu></nav-menu>
    -->
    <div ng-view autoscroll></div>
  </div>
  <div id="settings" class="page" style="display: none" ng-controller="SettingsCtrl">
    <div class="col">
      <div class="page-title">Settings</div>
      <div class="col-sm-12 nopad">
        <b>Enable notifications?</b>
        <label class="switch float-right" style="margin-top: 0px;">
          <input type="checkbox" class="enable-notifications" />
          <span class="slider round"></span>
        </label>
        <!--<button class="btn btn-sm btn-primary enable-notifications">Yes, enable</button>-->
        <br /><p style="font-size: small">NOTE: You can disable notifications in device settings.</p>
        <!--
        <b>Install App to Homescreen?</b>
        <button class="btn btn-sm btn-block btn-primary install-app">Install App</button>
        -->
      </div>
    </div>
  </div>
<!--HOME-->  
  <script type="text/ng-template" id="home.html">
    <div class="page" style="margin-top: 10px;">
      <div class="center">
        <img src="assets/images/RippleMissionsLogo.jpg" width="50%" style="min-height: 80px;" />
        <div class="col">
          <br /><h4>Find your church:</h4>
          <input id="church-search" type="text" class="form-control" ng-model="churchQuery" ng-blur="churchSearch()" ng-click="churchQuery = ''; missionsByChurch = null" />
          <div class="pull-right"><small ng-show="churchQuery"><button class="btn btn-link" ng-click="changeChurch()">Change Church</button></small></div>
        </div>
      </div>
      <br />
      <div class="col" ng-if="missionsByChurch.length == 0">No missionaries found. Please contact your church and ask them to add your missionaries to our list so everyone at your church can find them easily.</div>
      <ul class="list-group list-group-flush" ng-if="missionsByChurch.length > 0" ng-repeat="mission in missionsByChurch track by mission.id">
        <li class="list-group-item list-group-item-action">
          <h3 class="mb-1">{{mission.acf.name}}</h3>
          <div>{{mission.acf.country}}</div>
          <small class="text-muted">{{mission.acf.category}}</small>
        </li>
      </ul>
    </div>
  </script>
<!--/HOME-->
<!--ABOUT-->
  <script type="text/ng-template" id="about.html">
    <div class="page">
        <goback></goback>
        <img ng-if="topBanner" width="100%" ng-src="assets/images/{{topBanner}}" />
        <div class="col about">
            <div class="page-title">About</div>
                <p>
                Ripple Missions is located in Colorado Springs, CO. <br />
                </p>
                <p>Our privacy policy is located <a class="link" href="http://ripplemissions.com/privacy-policy">on our website</a>.</p>
                <p>Photos by <a href="https://pixabay.com" class="link">Pixabay</a> and <a href="https://unsplash.com" class="link">Unsplash</a></p>
        </div>
    </div>
  </script>
<!--/ABOUT-->
<!--BUGS-->
  <script type="text/ng-template" id="bugs.html">
    <div class="page">
        <goback></goback>
        <img ng-if="topBanner" width="100%" ng-src="assets/images/{{topBanner}}" />
        <div class="col">
            <div class="page-title">Bug Reports&nbsp;<i class="fas fa-bug"></i></div>
              <p><br />
              Find a bug or spot a typo in our app? Oh noez! Have a question or suggestion for the app?<br /><br />Please email Ryan directly here: <a href="mailto:ryan@ripplemissions.com" class="link">ryan@ripplemissions.com</a>.</p>

              <p>
              We want to provide the best experience possible for you, so please let us know how we can improve.
              <br /><br />
              Thanks for your interest in making this app better!

              <br /><br />
              - Ripple Missions
              </p>
        </div>
    </div>
  </script>
<!--/BUGS-->
<!--SETTINGS-->
  <script type="text/ng-template" id="settings.html">
    <div class="page" ng-controller="SettingsCtrl">
        <goback></goback>
        <div class="col">
            <div class="page-title">Settings</div>
            <div class="page-title">Push Notifications</div>
            <p>
                If you would like to receive live updates, you can enable that here. Otherwise, you won't see the updates on your phone unless you click on the Announcements page. Should these updates be turned on?
            </p>
        </div>
    </div>
  </script>
<!--/SETTINGS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="jquery.fn.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="main.js"></script>
</body>
</html>