<div class="page">
    <div>
        <video id="welcome_video"
        src="assets/videos/wfc-welcome-video.mp4"
        poster="assets/images/welcome-video-still.jpg" width="100%" height="205">
        Sorry, your browser doesn't support embedded videos, 
        but don't worry, you can <a href="assets/videos/wfc-welcome-video.mp4">download it</a> 
        and watch it with your favorite video player!
        </video>
    </div>
    <ul class="list-group home-menu">
        <li class="list-group-item" ng-repeat="mi in menuItems">
            <a href="{{mi.url}}">
                {{mi.name}}<span ng-if="mi.ext==true" class="ext-link text-left fas fa-fw fa-external-link-alt"></span>
                <i class="fas fa-fw fa-chevron-right"></i>
            </a>
        </li>
    </ul>
</div>
